<h2>Client List</h2>

<div class='table-responsive'>
    <table class="table table-striped table-bordered table-hover">
      <thead>
        <tr>
          <th>Last name</th>
          <th>First name</th>
          <th>Company</th>
          <th>Email</th>
          <th>Phone Number</th>
          <th>Number of Apps</th>
          <th>Client Info</th>
          <th>Location</th>
        </tr>
      </thead>

      <tbody>
        <% @resellers.each do |reseller| %>
          <tr>
            <td><%= reseller.last_name %></td>
            <td><%= reseller.first_name %></td>
            <td><%= reseller.company %></td>
            <td><%= reseller.email %></td>
            <td><%= reseller.phone_number %></td>
            <td><%= reseller.number_of_apps %></td>
            <td><%= reseller.client_info %></td>
            <td><%= reseller.location %></td>
            <td><%= link_to 'Show', reseller %></td>
            <!-- <td><%= link_to 'Edit', edit_reseller_path(reseller) %></td> -->
            <td><%= link_to 'Destroy', reseller, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
</div>
<br/>


<br>

<%= link_to 'Create New Reseller', new_reseller_path, :class => 'btn btn-success' %>
<%= link_to 'Home', root_path, :class =>'back-links' %>