<!DOCTYPE html>
<html>
<head>
  <title>MXLLabs</title>
  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
  <%= stylesheet_link_tag "font-awesome", media: "all", "data-turbolinks-track" => true %>
  <%= stylesheet_link_tag "style", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <script type="text/javascript" src="/javascripts/script.js"></script>
  <%= csrf_meta_tags %>
</head>

	<body>
		<%= yield %>
    <%#= yield :slider %>
	</body>
</html>
